@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 20;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav footer-ct {
    display: none;
}

.index-section {
    background-image: url("Image/TK.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}